.footer__text::before, .footer__second-title::before, .about-us__sub-title::before {
	content: '';
	margin: 0 auto;
    width: 70%;
    height: 1px;
    background: $blue; 
    position: absolute;
    right: 0;
    left: 0;
}

.about-us__sub-title::before {
	bottom: -17px;
}

.footer__text::before, .footer__second-title::before {
	top: 16px;
}
