.no-js {	
	body {
		padding-top: 240px;

		@media( min-width: 578px ) {
			padding-top: 130px;		
		}
	}		

	.menu {
    	flex-wrap: wrap;
    	justify-content: flex-end;

    	@media( max-width: 768px ) {	
			margin-top: 4rem;	
			justify-content: center;
		}

		&__link {
			padding: .6rem;
		}
	}

	.carousel {
		height: 410px;
		overflow: scroll;    	

		.carousel-item {
			margin-bottom: 10px;
			height: auto;
			float: none;			
		}	

		&-item__description, &-item__img {
			height: 290px;			
		}
	}

	.carousel-item, .menu {
		display: flex;
	}

	.hamburger, .carousel-indicators, .carousel-control-prev, .carousel-control-next {
		display: none;
	}
}
