.our-team {
	.column {
		overflow: hidden;
	}		

	.column:hover &__content, .column:focus &__content {
    	transform: translateY(0%);
    }	   
   
    &__content {
		padding: 1rem;
		height: 100%;
		position: absolute;
	    top: 0;
	    left: 0;
	    transform: translateY(100%);
	    transition: .7s;	    

	    @media(max-width: 600px) {		
			transform: translateY(0%);
		}	    
	}
	
	&__title {		
		display: inline-block;
		text-transform: uppercase;			
		font-size: $heading-xs;
		font-weight: 400;				
	}	

	&__text {
		@media(max-width: 768px) {		
			font-size: $text-s;
		}
	}

	&__job-title {
		margin-bottom: 0;
		position: absolute;
		bottom: 0.625rem;
	}

	&__img {
		margin: 0 auto;
		max-width: 100%;
		min-height: 375px;
		display: block;
	}

	&__theme-blue {			
		border-bottom: 3px solid $light-blue;
		color: $black;

		.our-team__content {
			background-color: $light-blue;
		}

		.our-team__title {
			border-bottom: 1px solid $black;
		}	
	}

	&__theme-gray {		
		border-bottom: 3px solid $dark-gray;
		color: $white;	

		.our-team__content {
			background-color: $dark-gray;
		}

		.our-team__title {
			border-bottom: 1px solid $white;
		}
	}	
}
